# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs and temporary files
*.log
*.tmp
*.bak

# Dataset or large files (optional)
*.csv
*.h5
*.sqlite3
*.db
*.npz
*.npy
*.pkl
